body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid {
    height: 430px;
    width: 430px;
    border: 1px solid black;
    flex: 1 1 430px;
    margin: 40px;
    display: flex;
    flex-direction: column;
}

.row {
    flex: 1;
    display: flex;
}

.block {
    border: 0.5px solid black;
    flex: 1;
}

.block.dark {
    background-color: black;
}

.slider {
    display: flex;
    padding: 10px;
}

.slider .size-slider {
    margin: 10px;
}

button {
    padding: 10px;
    border-radius: 12px;
    margin: 10px;
}